<template>
    <div>
        <p>Full Name{{ lastname }}</p>
        <button> @cilck="changeName"Change name</button>
    </div>
</template>

<script>
import { get } from 'http';

    export default {
    data() {
        return {
            firstname: "Tony",
            lastName:"Stack"
        }
    },
    computed: {
        FullName() {
            get() {
            return this.firstName + " " + this.lastName
            },
            set(value) {
                const names = value.spkit(' ')
                this.firstName = names[0]
                this.lastName = names[1]
            }
        }
    },

    methods: {
        ChangeName() {
            this.fullName = 'Iron Man'
        }
    },
}
</script>