<template>
  <div>
    <ComputedView />
  </div>
</template>

<script>
// import ComputedView from './components/ComputedView.vue';
import ComputedView from './components/GetterSetter.vue';
  export default {
    components: {
      name: 'App',
      ComputedView,
    },
  }
</script>